@import 
 url('https://fonts.googleapis.com/css?family=Raleway : 300,400,700,900');

 * {
     box-sizing: border-box;
 }
body {
margin: 0;
font-family: sans-serif;
text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
.container {
    width: 95%;
    max-width: 70em;
    margin :auto;
}

/* typography
============================== */
hi{
    font-weight: 300;
   font-size: 1.7rem;
   margin-top: 0;
   
}
p{
    margin-top: 0;
    line-height: 1.5;
}
.p:last-of-type {
    margin-bottom: 0;
}
.title{
font-size: 2.5.rem;
margin-bottom: 1.5em;
font-weight: 900;
margin-top: 1em;
}
.title span {
	font-weight: 200;
	display: block;
	font-size: .9em;
}


@media(min-width:60rem) {
    .title{
    font-size: 3.7rem;
    }
}
p{
    font-size: 1,2rem;
    line-height: 1.6;
}
/* button-----------*/
.button {
display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-accent{
    color: #00FFC6;
    border-color :#00FFC6;
}
.button-accent:hover,
.button-accent:focus
{
    background: #00FFC6;
    color: #232323
}
/* header
-------------- */
header {
 position: absolute; 
 left: 0;
 right: 0;
    margin-top: 1em;
}
nav ul {
margin: 0;
padding: 0;
list-style: none
}
nav li{
    display: inline-block;
    margin: 1em;
}
nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: #FFF;
}
nav a :hover
nav a :focus{
    color: #DDD;
}
@media(min-width:60rem){

.logo{
    float: left;
}
nav{
    float: right;
    }
}
/* home-hero
-----------*/

.home-hero {
    background-image: url(../img/hero-bg.jpg);
    padding: 10em 0;
    color: #FFF;
}
/* home-about
-----------*/
.home-about-textbox {
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #00FFC6;
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;
    
}
.home-about-textbox h1{
    color: #00FFC6
    position: absolute;
    top: -5em;
    background: #232323;
    padding: 0 .145em;
    box-shadow: 0 0 3em 0 rgba(0, 0, 0,.3);

}
@media(min-width :25rem) {

h1 {
font-size: 2rem;
}
.home-about-textbox h1{
    top: .6em;
    padding: 0 .325em;
}

}

@media(min-width :60rem) {

    .home-about {
        background-image: url(../img/who-we-are.jpg);
        background-repeat: no-repeat;
        padding-bottom: 10em;
    }
    .home-about-textbox{
        width: 50%;
        padding: 7em;
        outline-offset: -3.5em;
        margin-left: -2.5%;
        top: 5em;
        text-align: left;

    }
        
    }
    .home-about-textbox h1{
        top: .75em;
        left: 6rem;
        transform: translatex(0);
    }
    